Oracle_IP = 10.51.151.25
Oracle_Port = 1521
Oracle_DB = xirtest2
Oracle_User = xir_trd
Oracle_PassWord = xpar123

MySQL_IP = 10.51.135.17
MySQL_DB = dtsdb
MySQL_User = dtsweb
MySQL_PassWord = dtsweb

Log_Path = /home/dts/logs/apl_log/

#   表空间
#   XIR_TRD:
#       TTRD_CFETS_B_BOND   
#       TTRD_CFETS_B_TRADE_HOLIDAY
#       TTRD_CFETS_B_SETTLE_HOLIDAY
#       TTRD_CFETS_B_TRADE_MEMBER
#       TTRD_CFETS_B_SBF
#       TTRD_CFETS_B_SBF_DELIVERABLE
#       TTRD_CMDS_SBFWD_SETTLEDPRICE
#   XIR_MD:
#       TCB_BOND_EVAL


Oracle_XIR_TRD = XIR_TRD.
Oracle_XIR_MD = XIR_MD.

